.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.heading{
  display: flex;
  justify-content: center;
}

.container{
  background-color: white;
  width: 550px;
  border-radius: 8px;
  padding: 1.6rem;
}

.total_card{
  margin-left: 45px;
  width: 450px;
  height: 110px;
  margin-top: 20px;
  background-color: skyblue;
}
.card_text{
  padding-top: 30px;
}
.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.input_field{
  margin-top: 30px;
  width: 450px;
  margin-left: 45px;
}
#outlined-basic{
  width: 425px;
}
.btn_group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.btn{
  width: 100px;
  height: 60px;
}
span{
  font-size: 2rem;
}
.btnbtn{
  width: 100px;
  height: 60px;
}
